@import "tailwindcss";

@theme {
  --color-black-900: #000;
  --color-feloratext: #d6a096;
  --color-headerbg: #3e3e3e3d;
}
@font-face {
  font-family: "Vazirmatn";
  src: url("~/assets/fonts/Vazirmatn[wght].woff2") format("woff2-variations");
  font-weight: 100 900;
}
body {
  font-family: "Vazirmatn", sans-serif;
}
